// fonts
$openSansFont: "Open Sans", sans-serif;
$lightWeight: 300;
$regularWeight: 400;

// colors
$mainColor: #78246d;
$blackColor: #000;
$whiteColor: #fff;
$activeButton: #ff0000;

// breakpoints
$xsBreakpoint: 576;
$smBreakpoint: 768;
$mdBreakpoint: 1024;
$lgBreakpoint: 1290;
$xlBreakpoint: 1440;
